/*         Normalize          */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
input { /* 1 */
    overflow: visible;
}

button,
select { /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*         Main styles          */

body {
    font-family: 'Bree Serif', serif;
    background: url("/img/2_185в28.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

button {
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main {
    border: 2px solid #000614;
    margin: 5% 0;
    background-color: rgba(255,255,255, .9);
}

.main-form {
    display: flex;
    height: 800px;
}

.form-left {
    min-width: 450px;
    padding: 10px;
    background-color: rgba(255,255,255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-right {
    min-width: 725px;
    width: 100%;
}

.form-left > .top-img > .main-img {
    height: 208px;
}
.bottom-img > ul {
    display: flex;
    justify-content: space-around;
}

.bottom-img > ul > li {
    list-style: none;
    box-shadow: 0 0 5px #00000029;
    padding: 7px;
}

.bottom-img > ul > li:hover {
    box-shadow: 0 0 15px #00000029;
}

.bottom-img > ul > li > img {
    height: 115px;
    cursor: pointer;
}

.order-header {
    text-align: center;
}

.order-header > h2 {
    text-transform: uppercase;
    font-size: 44px;
    margin: 0;
}

.order-header > h2:before, .order-header > h2:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    background: #bf0101;
}

.order-price > .new-price > p {
    margin: 10px;
    font-size: 35px;
    color: #bf0101;
}
.order-price > .old-price > p {
    font-size: 21px;
    text-decoration: line-through;
    margin: 0 5px;
    color: #616161;
    display: inline;
}

.order-price > .old-price > span {
    font-size: 28px;
}

.ingredients input[type=checkbox] + label {
    display: inline;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    font-size: 17px;
}

.ingredients input[type=checkbox] {
    display: none;
}

.ingredients input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.ingredients input[type=checkbox] + label:active:before {
    transform: scale(0);
}

.ingredients input[type=checkbox]:checked + label:before {
    background-color: #bf0101;
    border-color: #bf0101;
    color: #fff;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.result-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.result-section > .result-btn {
    height: 50px;
    width: 90px;
    border: none;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.result-section > .result-btn:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}




















